.root{
  margin: 0 auto 80px;
  max-width: 600px;

  .wrapper{
    margin-top: 40px;
  }

  .degree{
    text-align: center;
    font-weight: 600;
    font-size: 18px;
  }

  .divider{
    margin: 15px 0;
    border-bottom: 1px solid #ccc;
  }

  .info{
    margin-bottom: 32px;
    font-weight: 600;
  }

  .avatar{
    display: block;
    margin: 0 auto;
  }

  .message{
    margin-top: 50px;
    text-align: center;
  }
}

